temp
temp2
*.txt
*.gz
*.zip
log/*.log
log/*.log.[0-9]
assets/photoshop/
!assets/videos/tour_*.mp4
assets/videos/

# Would not affect log/archive/access.log because *
# is wildcard just for characters and not for 
# slashes so if we have folders nested inside 
# folders , then need to be careful about that.



# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
